.achievement {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--c-major-background);
}

.achievement__header {
    display: flex;
    align-items: center;
    gap: .25rem 1rem;
}

@media only screen and (max-width: 500px) {

    .achievement__header {
        flex-direction: column;
        align-items: flex-start;
    }
    
}