* {  
  --color-experience: #cfb671;
  --color-completed: #30bb65; 
  --color-error: #cc1f27;
  --color-completed-transparent: #30bb6510; 
  box-sizing: border-box;
  scrollbar-color: var(--c-mid-background) transparent;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.ttf');
}

body {
  overflow-x: hidden;
  margin: 0;
  font-size: 1rem;
  font-family: 'Comfortaa';
  color: var(--c-minor-text);
  background-color: var(--c-background);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

h1, h2 {
  font-family: 'Montserrat';
  color: var(--c-major-text);
}

h3, h4, h5 {
  color: var(--c-mid-text);
}

p {
  font-size: .8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  z-index: 2;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Comfortaa';
  background-color: transparent;
  padding: 0;
  color: var(--c-minor-text);
}

button:hover {
  cursor: pointer;
  color: var(--c-major-text);
}

input {
  border: none;
  background-color: transparent;
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  color: var(--c-mid-text);
}

input:focus {
  outline: none;
}

.select {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--c-content-background-opaque);
  outline: 1px solid var(--c-mid-background);
  color: var(--c-minor-text);
  border-radius: .5rem;
}

.select--disabled {
  cursor: default;
  background-color: var(--c-mid-background);
  color: var(--c-minor-text);
}

.select::selection {
  background-color: transparent;
}

.options {
  display: flex;
  flex-direction: column;
  z-index: 4;
  position: absolute;
  overflow: scroll;
  scrollbar-width: none;
  width: 100%;
  top: 4rem;
  left: 0;
  background-color: var(--c-content-background-opaque);
  box-shadow: 0 .5rem 1rem var(--c-shadow);
  border: 1px solid var(--c-mid-background);
  border-radius: .5rem;
  color: var(--c-minor-text);
  transition: height .25s ease-in-out;
}

.options div {
  padding: 1rem;
}

.options div:hover {
  cursor: pointer;
  background-color: var(--c-mid-background);
  color: var(--c-mid-text);
}

.icon { 
  height: 1rem;
}

.icon--msq {
  margin-left: auto;
  max-height: 1.25rem;
}

.icon--job-header {
  height: 1.5rem;
}

.icon--job {
  width: 2rem;
}

.icon--mid {
  min-height: 4rem;
  min-width: 4rem;
}

.icon--quests {
  max-width: 2rem;
}

.arrow {
  color: var(--c-major-text);
  padding: 1rem;
  height: 100%;
}

.arrow--right:hover {
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.25));
}

.arrow--left:hover {
  background-image: linear-gradient(-90deg, transparent, rgba(255, 255, 255, 0.25));
}

@media only screen and (max-width: 1150px) {

  * {
    --content-width: calc(100vw - 2rem)
  }

}
