.banner {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
    border-radius: .25rem;
}

.search {
    border-radius: .5rem;
    font-size: .8rem;
    padding: .5rem 1rem;
    height: 6rem;
    border: 1px solid var(--c-mid-background);
    background-color: var(--c-content-background-opaque);
    transition: background-color .25s, transform .25s;
}

.search:hover {
    background-color: var(--c-mid-background);
    transform: translate(0, -5px);
}

.free-company {
    background-color: #404040;
    color: rgb(202, 206, 209);
    box-shadow: 0 0 1rem var(--c-shadow);
}

.free-company h2 {
    color: white;
}

.reference {
    border-radius: .25rem;
    font-size: .8rem;
    padding: .5rem 1rem;
    height: 4rem;
    border: 1px solid var(--c-mid-background);
    background-color: var(--c-content-background-opaque);
}

.misc {
    display: flex;
    align-items: center;
    gap: .25rem;
    position: absolute;
    top: 1rem;
    right: .75rem;
}