.banner {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    border-radius: .5rem;
    background-color: var(--c-content-background-opaque);
    border: 1px solid var(--c-mid-background);
}

.banner--mini {
    align-items: center;
    max-height: 5rem;
    padding: .5rem;
    border-radius: .5rem;
    gap: 1rem;
    border: none;
}

.banner--mini:hover {
    background-color: var(--c-mid-background);
    color:var(--c-major-text);
}

.banner--mini-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.banner__server {
    display: flex;
    gap: .5rem;
    color: var(--color-completed);
}

.banner--mini:hover .banner__server p {
    text-decoration: underline;
    text-decoration-color: var(--color-completed);
}

.banner--mini:hover .banner__main-content p {
    text-decoration: underline;
}

.banner__server--mini {
  font-size: .5rem;
}

.banner__avatar {
    border-radius: 100%;
    max-height: 5rem;
    margin: auto 0;
}

.banner__avatar--mini {
    max-height: 3rem;
}

.banner__main-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-right: auto;
}

.banner--free-company {
    background-color: #404040;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    gap: 1rem;
}

@media only screen and (max-width: 30rem) {

    .banner--mini-container {
        grid-template-columns: 1fr;
    }
    
}
