.bar {
    grid-area: bar;
    position: relative;
    overflow: hidden;
    height: .25rem;
    border-radius: 5px;
    background-color: var(--c-minor-background);
}

.bar__completion {
    position: absolute;
    height: 100%;
}