.button {
    overflow: hidden;
    position: relative;
    border-radius: .25rem;
    padding: 1rem;
    border: 1px solid var(--c-mid-background);
    color: var(--c-minor-text);
    width: 100%;
}

.button--active {
    color: white;
    background-color: var(--c-mid-background) !important;
}

.button:hover {
    color: white;
    background-color: var(--c-mid-background);
}

.button--nav {
    border: none;
}
