.character {
    position: absolute;
    left: calc((100vw - 70rem) / 2);
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    min-width: 70rem;
    gap: 2rem;
    margin: 8rem auto;
    transition: left .5s, max-width .5s, min-width .5s;
}

.character__content {
    display: flex;
    gap: 2rem;
}

.character__tab {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.character--side {
    max-width: calc(100vw - 41rem) !important; 
    min-width: calc(100vw - 41rem) !important; 
    left: 2rem !important;
}

.section {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    border-radius: .25rem;
    padding: 2rem;
    gap: 2rem;
    background-color: var(--c-content-background-opaque);
    backdrop-filter: blur(5px);
    border: 1px solid var(--c-mid-background);
    box-shadow: 0 0 .8rem var(--c-shadow);
}

.overlay-panel__toggle {
    z-index: 4;
    max-height: 3rem;
    min-height: 3rem;
    max-width: 3rem;
    min-width: 3rem;
    position: fixed;
    right: 34rem;
    top: calc(50% - 1.5rem);
    padding: 1rem;
    color: var(--c-major-text);
    background-color: var(--c-mid-background);
    border: 1px solid var(--c-mid-background);
    box-shadow: 0 .5rem 1rem var(--c-shadow);
    border-radius: .25rem;
    transition: right .5s;
}

.overlay-panel__toggle--hide {
    box-shadow: none;
    right: 2rem;
    color: var(--c-minor-text);
    background-color: var(--c-content-background-opaque);

}

.overlay-panel__avatar {
    max-height: 2rem;
    width: 2rem;
    border-radius: 100%;
    transition: transform .5s;
}

@media only screen and (max-width: 84rem) {

    .character{
        max-width: calc(100vw - 9rem);
        min-width: calc(100vw - 9rem);
        left: 2rem;
    }

}

@media only screen and (max-width: 700px) {

    .character__content{
        flex-direction: column;
    }

    .character__tab {
        flex-direction: row;
        justify-content: center;
    }

    .character{
        max-width: calc(100vw - 2rem);
        min-width: calc(100vw - 2rem);
        left: 1rem;
    }
    
}

@media only screen and (max-width: 73rem) {

    .overlay-panel__toggle{
        right: calc(100% - 5rem);
    }

    .overlay-panel__toggle--hide {
        right: 2rem;
    }

}
