.character {
    display: flex;
    flex-direction: column;
    max-width: 70rem;
    min-width: 70rem;
    gap: 2rem;
    padding: 8rem 0;
    margin: auto;
}

.character__side {
    display: flex;
    flex-direction: column;
    min-width: 32rem;
    max-width: 32rem;
}

.character__main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.character__content {
    display: flex;
    gap: 2rem;
}

.character__icon {
    min-width: 1rem;
    min-height: 1rem;
}

.character__tab {
    display: flex;
    gap: .5rem;
    margin-left: 1rem;
}

.character__tab-btn {
    border-radius: .5rem .5rem 0 0;
    border-bottom: 1px solid var(--c-content-background-opaque);
    bottom: -1px;
    box-shadow: none !important;
}

.section {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    padding: 2rem;
    gap: 2rem;
    background-color: var(--c-content-background-opaque);
    backdrop-filter: blur(5px);
    border: 1px solid var(--c-mid-background);
    box-shadow: 0 0 .8rem var(--c-shadow);
}

.overlay-panel__toggle {
    z-index: 4;
    max-height: 6rem;
    min-height: 6rem;
    max-width: 3rem;
    min-width: 3rem;
    position: fixed;
    right: 32rem;
    top: calc(50% - 3rem);
    padding: 1rem;
    color: var(--c-major-text);
    background-color: var(--c-content-background-opaque);
    border: 1px solid var(--c-mid-background);
    border-right: none;
    box-shadow: 0 .5rem 1rem var(--c-shadow);
    border-radius: .5rem 0 0 .5rem;
    transition: right .5s;
}

.overlay-panel__toggle--hide {
    box-shadow: none;
    right: 0;
    color: var(--c-minor-text);
    background-color: var(--c-content-background-opaque);
}

.overlay-panel__avatar {
    max-height: 2rem;
    width: 2rem;
    border-radius: 100%;
    transition: transform .5s;
}
