.collection {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin: auto;
}

.collection__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.collection__searchbar {
    border-bottom: 1px solid var(--c-mid-background);
    width: 10rem;
    margin-left: auto;
    min-height: 3rem;
    transition: width .5s;
}

.collection__searchbar:focus {
    width: 15rem;
}
