.completion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.completion__percentage {
    background-color: var(--color-completed);
    color: white;
    width: fit-content;
    padding: .5rem;
    border-radius: .25rem;
}

.completion__title {
    color: var(--color-completed);
}

.completion__fraction {
    color: var(--color-completed);
}

.completion__radial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    /* background: 
    radial-gradient(closest-side, var(--c-content-background-opaque) 77%, transparent 80% 100%),
    conic-gradient(var(--color-completed) 75%, var(--c-mid-background) 0);  */
}

.completion__container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
