.header__content {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.completion-rate {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.completion-rate h3 {
    background-color: var(--color-completed);
    color: white;
    padding: .5rem;
    border-radius: .25rem;
}

.completion-rate h4 {
    color: var(--color-completed);
}

@media only screen and (max-width: 450px) {
    
    .header__content{
        flex-direction: column;
    }

    .completion-rate {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    
}
