.item {
    position: relative;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: .5rem;
}

.item__icon {
    width: 3rem;
    border-radius: .5rem;
}

.glamour-icon {
    z-index: 2;
    width: 1.1rem;
    height: 1.1rem;
    right: 0;
}

.tooltip {
    z-index: 4;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
    left: 4rem;
    padding: 1rem;
    background-color: var(--c-mid-background);
    box-shadow: 0 .5rem 2rem var(--c-shadow);
    border: 1px solid var(--c-major-background);
    border-radius: .5rem;
}

.tooltip__header {
    display: grid;
    grid-template-columns: 3rem;
    grid-template-areas: 
        "icon name name "
        "icon type level"
    ;
    height: 3rem;
    gap: 0 1rem;
}

.tooltip__stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

.item:hover .tooltip {
    visibility: visible;
}

.tooltip__icon {
    width: 1.5rem;
    height: 1.5rem;
}