.job__level-text {
    width: 3rem;
    text-align: center;
}

.jobs__collection {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
}

.current-job {
    max-width: calc(100vw - 16rem);
    background-color: var(--c-mid-background);
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem var(--c-shadow);
    border: 1px solid var(--c-major-background);
}

.war-magic {
    grid-template-rows: repeat(16, 2rem);
    grid-template-areas: 
        "Tank         Melee    "
        "paladin      monk     "
        "warrior      dragoon  "
        "darkknight   ninja    "
        "gunbreaker   samurai  "
        ".            reaper   "
        "Healer       Ranged   "
        "whitemage    bard     "
        "scholar      machinist"
        "astrologian  dancer   "
        "sage         .        "
        ".            Magic    "
        ".            blackmage"
        ".            summoner "
        ".            redmage  "
        ".            bluemage "            
    ;
}

.hand-land {
    grid-template-rows: repeat(9, 2rem);
    grid-template-areas:
        "Hand           Land    "
        "carpenter      miner   "
        "blacksmith     botanist"
        "armorer        fisher  "
        "goldsmith      .       "
        "leatherworker  .       "
        "weaver         .       "
        "alchemist      .       "
        "culinarian     .       "
    ;
}

.jobs__collection--single {
    grid-template-columns: 1fr;
}

.job--ref {
    grid-template-areas: 
    "Tank        "
    "paladin     "
    "warrior     "
    "darkknight  "
    "gunbreaker  "
    ".           "
    "Healer      "
    "whitemage   "
    "scholar     "
    "astrologian "
    "sage        "
    ".           "
    "Melee       "
    "monk        "
    "dragoon     "
    "ninja       "     
    "samurai     "   
    "reaper      " 
    ".           "
    "Ranged      "   
    "bard        "
    " machinist  "
    " dancer     "
    ".           "
    " Magic      "
    " blackmage  "
    "summoner    "
    "redmage     "
    "bluemage    "
    ".           "
    "Hand          "
    "carpenter     "
    "blacksmith    "
    "armorer       "
    "goldsmith     "
    "leatherworker "
    "weaver        "
    "alchemist     "
    "culinarian    "
    ".             "
    "Land          "
    "miner         "
    "botanist      "
    "fisher        "
    ;
}


@media only screen and (max-width: 700px) {

    .jobs__collection {
        grid-template-columns: 1fr;
    }

    .war-magic {
        grid-template-areas: 
        "Tank        "
        "paladin     "
        "warrior     "
        "darkknight  "
        "gunbreaker  "
        ".           "
        "Healer      "
        "whitemage   "
        "scholar     "
        "astrologian "
        "sage        "
        ".           "
        "Melee       "
        "monk        "
        "dragoon     "
        "ninja       "     
        "samurai     "   
        "reaper      " 
        ".           "
        "Ranged      "   
        "bard        "
        " machinist  "
        " dancer     "
        ".           "
        " Magic      "
        " blackmage  "
        "summoner    "
        "redmage     "
        "bluemage    "
        ;
    }

    .hand-land {
        grid-template-areas:
        "Hand          "
        "carpenter     "
        "blacksmith    "
        "armorer       "
        "goldsmith     "
        "leatherworker "
        "weaver        "
        "alchemist     "
        "culinarian    "
        ".             "
        "Land          "
        "miner         "
        "botanist      "
        "fisher        "
        ;
    }

}

@media only screen and (max-width: 32rem) {

    .current-job {
        display: none !important;
    }

}
