.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2rem; 
    height: 6rem;
    gap: 1rem;
}

.navbar__icon {
    height: 1.5rem;
    width: 1.5rem;
}

.navbar__brand-icon {
    height: 1.5rem;
    margin-right: 2rem;
}
