.navbar {
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 2rem; 
    max-height: 6rem;
    gap: 1rem;
}

.navbar__icon {
    height: 1.5rem;
    width: 1.5rem;
}

.navbar__brand-icon {
    height: 1.5rem;
    margin-right: 2rem;
}

.navbar__avatar {
    max-height: 2rem;
    width: 2rem;
    border-radius: 100%;
    transition: transform .5s;
}
