
.overlay-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
    gap: 2rem;
    z-index: -1;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
    width: 32rem;
    background-color: var(--c-shadow);
    backdrop-filter: blur(1rem);
    padding: 2rem;
    box-shadow: 0 0 .8rem var(--c-shadow);
    transition: right .5s;
}

.overlay-panel--hide {
    right: -32rem;
}
