
.overlay-panel {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    gap: 2rem;
    z-index: 3;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100vh;
    max-width: 32rem;
    min-width: 32rem;
    background-color: var(--c-content-background-opaque);
    border-left: 1px solid var(--c-mid-background);
    backdrop-filter: blur(1rem);
    padding: 8rem 2rem 2rem 2rem;
    box-shadow: 0 0 .8rem var(--c-shadow);
    transition: right .5s;
}

.overlay-panel--hide {
    right: -32rem;
}

.overlay-panel__tab-container {
    display: flex;
    gap: 1rem;
}

.tab {
    padding: 1rem;
    border-radius: .5rem;
    outline: 1px solid var(--c-mid-background);
}

.tab--active {
    box-shadow: 0 0 .8rem var(--c-shadow);
    background-color: var(--c-mid-background);
    color: var(--c-major-text);
}