.quests__header {
    display: flex;
    align-items: center;
}

.quests__sub-header {
    padding: 1rem 3rem;
}

.quests__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
    font-size: .8rem;
    width: 100%;
}

.quests__column {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.quests__list a {
    display: flex;
    align-items: center;
    border: 1px solid var(--c-major-background);
    gap: 2rem;
    padding: .5rem;
    height: 2rem;
    border-radius: 1rem;
    font-size: 10px;
    transition: transform .25s;
}

.quests__list a:hover {
    transform: scale(1.1);
}


.completed {
    color: var(--c-green);
    background-color: #30bb6510 !important;
    outline: 1px solid var(--c-green);
}

@media only screen and (max-width: 700px) {

    .quests__list {
        grid-template-columns: 1fr;
    }
    
}

@media only screen and (max-width: 500px) {
    
    .quests__header{
        flex-direction: column;
        gap: 2rem;
    }
    
}