.searchbar {
    z-index: 4;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 30rem;
    padding-right: 1rem;

    background-color: var(--c-content-background-opaque);
    outline: 1px solid var(--c-mid-background);
    box-shadow: 0 .5rem 1rem var(--c-shadow);
    border-radius: .5rem;
}

.searchbar__icon {
    min-width: 1.5rem;
    min-height: 1.5rem;
}

.recent {
    z-index: 4;
    overflow: hidden;
    top: calc(100% + 2rem);
    position: absolute;
    height: 0;
    width: 100%;
    background-color: var(--c-content-background-opaque);
    box-shadow: 0 .5rem 1rem var(--c-shadow);
    border-radius: .5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    transition: height .25s, padding .5s;
}

.recent--active {
    padding: 1rem;
    height: 15rem;
    border: 1px solid var(--c-mid-background);
}

.recent__tab {
    display: flex;
    justify-content: space-between;
}

.recent__collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.recent__profile {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    border-radius: .25rem;
}

.recent__profile:hover {
    background-color: var(--c-accent);
    color: white;
}

.recent__avatar {
    height: 2.5rem;
}

.recent__servers {
    height: 10rem;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
}

.recent__servers div {
    font-size: .8rem;
    padding: .5rem;
}

.recent__servers div:hover {
    cursor: pointer;
    background-color: var(--c-accent);
    color: white;
}

@media only screen and (max-width: 500px) {

    .searchbar {
        width: var(--content-width);
    }
    
}

@media only screen and (max-width: 750px) {

    .searchbar--character {
        width: var(--content-width);
        position: fixed;
        bottom: 1rem;
        left: 1rem;
    }

    .recent--character {
        bottom: 4rem;
        top: auto;
    }
}