.searchbar {
    z-index: 5;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 30rem;
    max-height: 3rem;
    padding: 1rem;
    background-color: var(--c-mid-background);
    outline: 1px solid var(--c-major-background);
    box-shadow: 0 .5rem 1rem var(--c-shadow);
    border-radius: 1.5rem;
}

.searchbar__icon {
    min-width: 1.5rem;
    min-height: 1.5rem;
}

.recent {
    overflow: hidden;
    top: calc(100% + 2rem);
    left: 0;
    position: absolute;
    height: 0;
    width: 100%;
    background-color: var(--c-mid-background);
    box-shadow: 0 .5rem 1rem var(--c-shadow);
    border-radius: 1rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    transition: height .25s, padding .5s;
}

.recent--active {
    padding: 1rem;
    height: 17rem;
    border: 1px solid var(--c-major-background);
}

.data-center-container {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "na na na"
        "Aether Crystal Dynamis"
        "AetherServers CrystalServers DynamisServers"
        "Primal . ."
        "PrimalServers . ."
        "eu eu eu"
        "Chaos Light ."
        "ChaosServers LightServers ."
        "oce oce oce"
        "Materia . ."
        "MateriaServers . ."
        "jp jp jp"
        "Elemental Gaia Mana"
        "ElementalServers GaiaServers ManaServers"
        "Meteor . ."
        "MeteorServers . ."
    ;
    gap: .5rem;
}

.data-center-container h4 {
    margin: 1rem 0;
    color: var(--c-major-text);
}

.data-center-container h5 {
    margin-left: 1rem;
}

.data-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: min-content;
}

.data-center button {
    font-size: .75rem;
    width: 100%;
    justify-content: start;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
}

.data-center button:hover {
    background-color: var(--c-major-background);
}

@media only screen and (max-width: 32rem) {

    .searchbar {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        width: var(--content-width);
    }

    .recent {
        top: auto;
        bottom: 4rem;
    }
}
