.searchbar {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 30rem;
    padding-right: 1rem;
    background-color: var(--c-content-background-opaque);
    outline: 1px solid var(--c-mid-background);
    box-shadow: 0 .5rem 1rem var(--c-shadow);
    border-radius: .5rem;
}

.searchbar__icon {
    min-width: 1.5rem;
    min-height: 1.5rem;
}

.recent {
    z-index: 4;
    overflow: hidden;
    top: calc(100% + 2rem);
    position: absolute;
    height: 0;
    width: 100%;
    background-color: var(--c-content-background-opaque);
    box-shadow: 0 .5rem 1rem var(--c-shadow);
    border-radius: .5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    transition: height .25s, padding .5s;
}

.recent--active {
    padding: 1rem;
    height: 16.5rem;
    border: 1px solid var(--c-mid-background);
}

.data-center-container {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "na na na"
        "Aether Crystal Dynamis"
        "AetherServers CrystalServers DynamisServers"
        "Primal . ."
        "PrimalServers . ."
        "eu eu eu"
        "Chaos Light ."
        "ChaosServers LightServers ."
        "oce oce oce"
        "Materia . ."
        "MateriaServers . ."
        "jp jp jp"
        "Elemental Gaia Mana"
        "ElementalServers GaiaServers ManaServers"
        "Meteor . ."
        "MeteorServers . ."
    ;
    gap: .5rem;
}

.data-center-container h4 {
    margin: 1rem 0;
}

.data-center-container h5 {
    margin-left: 1rem;
}

.data-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: min-content;
}

.data-center button {
    font-size: .75rem;
    width: 100%;
    justify-content: start;
    padding: .5rem 1.5rem;
    border-radius: .25rem;
}


.data-center button:hover {
    background-color: var(--c-mid-background);
}
