.character {
    display: flex;
    flex-direction: column;
    width: var(--content-width);
    gap: 2rem;
    margin: 6rem auto;
}

.character__row {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.section {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    padding: 2rem;
    gap: 2rem;
    background-color: var(--c-content-background);
    box-shadow: 0 0 .8rem var(--c-shadow);
}

@media only screen and (max-width: 1050px) {

    .character {
        width: 100vw;
        padding: 0 1rem;
    }

    .character__row {
        flex-direction: column;
    }

}








.character__banner {
    
}
