.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50vw;
    width: var(--home-width);
    padding-top: 10rem;
    gap: 2rem;
}

.home__brand {
    object-fit: contain;
    width: var(--home-width);
    height: 10rem;
    gap: 1rem;
}