.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: calc((100vh - 24.875rem) / 2) auto;
    width: var(--home-width);
    gap: 2rem;
}

.home__brand {
    z-index: -2;
    object-fit: contain;
    width: var(--home-width);
    height: 10rem;
}

