.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: calc((100vh - 24.875rem) / 2) auto;
    width: var(--home-width);
    gap: 2rem;
}