.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: var(--content-width);
    height: calc(100vh - 14rem);
    gap: 2rem;
}

.settings__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.settings__save-button {
    width: 5rem;
    border-radius: .25rem;
    margin-bottom: auto;
}

@media only screen and (max-width: 1050px) {

    .settings {
        margin: auto;
        padding-top: 1rem;
    }

}
