.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: calc(50vw + 5rem);
    padding-top: 10rem;
    width: var(--home-width);
    height: 100vh;
    gap: 2rem;
}

.settings__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.settings__checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.settings__save-button {
    width: 5rem;
    border-radius: .25rem;
    margin-bottom: auto;
}

@media only screen and (max-width: 1050px) {

    .settings {
        height: auto;
        margin: auto;
        padding-top: 1rem;
    }

}
