.attributes__main {
    display: grid;
    grid-template-areas: 
        "type value"
        "bar  bar  "
    ;
}

.attributes__main h4 {
    text-align: end;
}

.attributes__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
}

@media only screen and (max-width: 1050px) {

    .attributes__list {
        grid-template-columns: 1fr;
    }

}