.attributes {
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 30rem;
    padding: 2rem;
    gap: 2rem;
}

.attributes h2 {
    color: #f3f2f2;
}

.attributes h4 {
    color: #d0d2d4;
} 

.attributes__main {
    display: grid;
    grid-template-areas: 
        "type value"
        "bar  bar  "
    ;
}

.attributes__main h4 {
    text-align: end;
}

.attributes__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
}

@media only screen and (max-width: 1050px) {

    .attributes {
        display: none;
    }

}