.banner {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
    border-radius: .5rem;
}

.search {
    border: 1px solid var(--c-mid-background);
}

.search:hover {
    color: var(--c-accent);
    background-color: var(--c--accent-transparent);
    outline: 1px solid var(--c-accent);
}

.free-company {
    background-color: var(--color-free-company);
    color: rgb(202, 206, 209);
    box-shadow: 0 0 1rem var(--c-shadow);
}

.free-company h2 {
    color: white;
}

.reference {
    border-radius: .25rem;
    font-size: .8rem;
    padding: .5rem;
    height: 4rem;
    color: var(--c-accent);
    background-color: var(--c--accent-transparent);
    outline: 1px solid var(--c-accent);
}

.misc {
    display: flex;
    align-items: center;
    gap: .25rem;
    position: absolute;
    top: 1rem;
    right: .75rem;
}