.collection {
    display: grid;
    grid-template-columns: repeat(5, 3rem);
    grid-template-rows: repeat(5, 3rem);
    gap: .5rem;
    padding: 1rem;
    border-radius: .25rem;
    border: 1px solid var(--c-mid-background);
    margin: auto;
}

.collection__content {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

@media only screen and (max-width: 750px) {

    .collection__content {
        flex-direction: column;
    }

}