.equipment {
    display: grid;
    grid-template-columns: 3rem 1fr 3rem;
    grid-template-rows: 0 repeat(8, 3rem) 0;
    grid-template-areas:
        ".         portrait  .          "
        "MainHand  portrait  OffHand    "
        "Head      portrait  Earrings   "
        "Body      portrait  Necklace   "
        "Hands     portrait  Bracelets  "
        "Legs      portrait  Ring1      "
        "Feet      portrait  Ring2      "
        "switch    portrait  SoulCrystal"
        ".         portrait  .          "
        ".         portrait  .          "
    ;
    gap: 1rem;
}

.equipment__portrait {
    position: relative;
    grid-area: portrait;
    background-position: center;
    background-size: cover;
    border-radius: .5rem;
    height: 100%;
    box-shadow: 0 .5rem 1rem var(--c-shadow);
}

.equipment__level {
    position: absolute;
    background-color: var(--c-background);
    color: var(--c-major-text);
    padding: .5rem;
    border-radius: .5rem;
    bottom: 1rem;
    left: 1rem;
}