.featured {
    position: relative;
    width: 30rem;
    height: 15rem;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem var(--c-shadow);
}

.featured__overlay {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    background-image: linear-gradient(200deg, #22222985, transparent, #212024f1);
}

.featured__overlay a {
    width: 100%;
    height: 100%;
}

.featured__overlay p {
    color: #d9dfe4;
}

.featured__banners {
    z-index: -1;
    display: flex;
    transition: transform .5s ease-in-out;
}

.featured__banners img {
    width: 30rem;
}

@media only screen and (max-width: 500px) {

    .featured {
        display: none;
    }

}
