.featured {
    position: relative;
    width: 30rem;
    height: 15rem;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem var(--c-shadow);
}

.featured__overlay {
    color: white;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(170deg, transparent 50%, var(--color-news));
    align-items: center;
    gap: .5rem;
    transition: background-color .5s;
}

.featured__overlay:hover {
    background-color: rgba(39, 41, 46, 0.25);
}

.featured__overlay:hover .arrow {
    opacity: 1;
}

.featured__overlay a {
    width: 100%;
    height: 100%;
}

.text {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .5rem;
    padding-bottom: 1rem;
    text-align: end;
    color: white;
}

.text h2 {
    color: white;
}

.featured__banners {
    z-index: -1;
    display: flex;
    transition: transform .5s ease-in-out;
}

.featured__banners img {
    width: 30rem;
}

@media only screen and (max-width: 500px) {

    .featured {
        display: none;
    }

}
