.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    padding: 1rem calc((100vw - var(--character-width) + 2rem) / 2);
    background-color: var(--c-content-background);
    box-shadow: 0 0 .5rem var(--c-shadow);
    gap: 1rem;
}

.navbar__icon {
    height: 1.5rem;
    width: 1.5rem;
}

.navbar__brand-icon {
    height: 1.5rem;
}
