.navbar-wrapper {
    z-index: 10;
    top: 0;
    display: flex;
    width: 100%;
    height: 4rem;
    background-color: var(--c-content-background);
    box-shadow: 0 0 .5rem var(--c-shadow);
}

.navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: auto;
    height: auto;
    width: var(--character-width);
}

.navbar__icon {
    height: 1.5rem;
    width: 1.5rem;
}

.navbar__brand-icon {
    height: 1.5rem;
}
