.notice {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 3rem 1rem 1rem;
    height: 6rem;
    width: 100%;
    border-radius: .5rem;
    background-color: var(--c-notice-background);
    color: var(--c-background);
    box-shadow: 0 .5rem 1rem var(--c-shadow);
}   

.notice--cookies {
    position: fixed;
    margin: 1rem;
    bottom: 0;
    left: 0;
    width: var(--content-width);
    animation: cookies 1s;
}

.notice__icon {
    min-width: 2rem;
    height: 2rem;
}

.notice__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

@keyframes cookies {
    from {opacity: 0; transform: translate(0, 5rem); }
    to {opacity: 1; }
}
