.quests__collection {
    display: flex;
    justify-content: space-between;
}

.quests__completion-rate {
    background-color: var(--color-completed);
    color: white;
    padding: .5rem;
    border-radius: .25rem;
    margin-left: auto;
}

.quests__sub-header {
    padding: 1rem 3rem;
}

.quests__list {
    display: flex;
    gap: 2rem;
    font-size: .8rem;
    width: 100%;
}

.quests__column {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.quests__list a {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: .5rem;
    height: 2rem;
    border-radius: .25rem;
}

.quests__list a:hover {
    color: white;
    background-color: var(--color-completed);
}

.completed {
    color: var(--color-completed);
    background-color: var(--color-completed-transparent);
    outline: 1px solid var(--color-completed);
}

.spoiler {
    filter: blur(3px);
    pointer-events: none;
}

@media only screen and (max-width: 1050px) {
    
    .quests__list {
        flex-direction: column;
        gap: 0;
    }
    
}