.searchbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 30rem;
    margin-left: auto;
}

.recent {
    z-index: 3;
    overflow: hidden;
    top: calc(100% + 2rem);
    position: absolute;
    width: var(--home-width);
    height: 0;
    background-color: var(--c-content-background);
    box-shadow: 0 .5rem 1rem var(--c-shadow);
    border-radius: .5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    transition: height .5s, padding .5s;
}

.recent--active {
    padding: 1rem;
    height: 15rem;
}

.recent__tab {
    display: flex;
    justify-content: space-between;
}

.recent__collection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .1rem 1rem;
}

.recent__profile {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    border-radius: .25rem;
}

.recent__profile:hover {
    background-color: var(--c-accent);
    color: white;
}

.recent__avatar {
    height: 2.5rem;
}