.searchbar {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    /* box-shadow: 0 0 1rem var(--color-1000); */
    border: 1px solid var(--color-500);
    background-color: var(--color-700);
    border-radius: .5rem;
    overflow: hidden;
}

.searchbar--home {
    margin: 3rem 0;
}

.searchbar__component {
    border: none;
    color: var(--color-100);
    background-color: transparent;
    font-size: 1rem;
    padding: .75rem;
    font-family: 'Comfortaa';
}

.searchbar__component:focus {
  outline: none;
}

.searchbar__button:hover {
    background-color: transparent;
}
.searchbar__server-list {
    cursor: pointer;
    background-color: var(--color-accent);
    border-radius: .1rem;
}

.text-box {
    width: 14rem;
}