* {
  --color-experience: #cfb671;
  --color-max-level: #f09744;
  --color-free-company: #404040;
  --color-completed: #30bb65; 
  --color-health: #5d9c22;
  --color-mana: #be2c9f;
  --color-news: #3f3b53;

  --margin-global: calc((100vw - 30rem) / 2);
  --character-width: 70rem;
  --home-width: 30rem;

  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--c-minor-text) transparent;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-size: 1rem;
  font-family: 'Comfortaa';
  color: var(--c-minor-text);
  background-color: var(--c-background);
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

h1, h2 {
  color: var(--c-major-text);
}

h3, h4 {
  color: var(--c-mid-text);
}

p {
  font-size: .8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  z-index: 2;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Comfortaa';
  background-color: transparent;
  color: var(--c-minor-text);
  transition: background-color 0.25s, color 0.25s;
}

button:hover {
  cursor: pointer;
  color: var(--c-accent);
}

.section-button {
  padding: 1rem;
  border-radius: .5rem;
  width: 100%;
  background-color: var(--c-mid-background);
}

.section-button:hover {
  background-color: var(--c-accent);
  color: white;
}

.active {
  background-color: var(--c-accent);
  color: white;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa.ttf');
}

.select {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  height: 2.75rem;
  width: 12rem;
  background-color: var(--c-accent);
  border-radius: .25rem;
  color: white;
}

.select::selection {
  background-color: transparent;
}

.select--dropdown {
  border-radius: .25rem .25rem 0 0;
}

.options {
  display: flex;
  flex-direction: column;
  z-index: 4;
  position: absolute;
  overflow: scroll;
  scrollbar-width: none;
  width: 12rem;
  top: 2.75rem;
  left: 0;
  background-color: var(--c-content-background);
  border-radius: 0 0 .25rem .25rem;
  box-shadow: 0 .5rem 1rem var(--c-shadow);
  color: var(--c-minor-text);
  transition: height 0.5s ease-in-out;
}

.options--serverlist {
  height: 15rem;
}

.options div {
  padding: .5rem 1rem;
}

.options div:hover {
  cursor: pointer;
  background-color: var(--c-accent);
  color: white;
}

input {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-family: 'Comfortaa';
  font-weight: bold;
  color: var(--c-mid-text);
  border-bottom: 1px solid transparent;
}

input:focus {
  outline: none;
  border-bottom: 1px solid var(--c-accent)
}

.column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.row {
  display: flex;
  gap: 2rem;
}

.divider--horizontal {
  width: 100%;
  height: 2px;
  background-color: var(--c-mid-background);
}

.interactable:hover {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.rounded {
  border-radius: 100%;
}

.icon { 
  height: 1rem;
}

.icon--msq {
  margin-left: auto;
  max-height: 1.25rem;
  filter: invert(74%) sepia(12%) saturate(143%) hue-rotate(184deg) brightness(86%) contrast(87%);
}

.icon--job-header {
  height: 1.5rem;
}

.icon--job {
  width: 2rem;
}

.icon--mid {
  height: 4rem;
  min-width: 4rem;
}

.icon--loading {
  height: 46px;
}

.icon--quests {
  max-width: 2rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.splash {
  z-index: -1;
  position: fixed;
  height: 100vh;
  pointer-events: none;
  right: 50vw;
  top: 0;
}
