.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    outline: 1px solid var(--c-accent);
  }
  
  .checkbox__box {
    width: 10px;
    height: 10px;
    transition: background-color .25s;
  }
  
  .checkbox__box--active {
    background-color: var(--c-accent);
  }