.full-page {
    position:fixed;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--c-background);
}

.loading__icon {
    margin: 0 auto;
    height: 2rem;
    width: 2rem;
}