.row {
    display: flex
}

.col {
    display: flex;
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.max-width {
    width: 100%;
}

.gap-sm {
    gap: .5rem
}

.gap {
    gap: 1rem;
}

.gap-lg {
    gap: 2rem;
}

.pad-sm {
    padding: .5rem;
}

.pad {
    padding: 1rem;
}

.rounded {
    border-radius: 100%;
}

.interactable:hover {
    cursor: pointer;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.disabled {
    display: none !important;
}

.hidden {
    visibility: hidden;
}

.blur {
    filter: blur(5px);
}
  